<ion-view view-title="Home">
  <ion-content>

  	<div class="auto-completer">
	  	<angucomplete-alt id="home-category"
	              placeholder="Search for Category"
	              pause="100"
	              selected-object="categorySelected"
	              local-data="allServices"
	              search-fields="name"
	              title-field="name"
	              minlength="1"
	              input-class="form-control form-control-small"/>
  	</div>

  	<!-- <div class='main-cat-main-blk'>
	  	<div class="row main-cat-row">
		  <div class="col col-50 main-cat-list cat-odd">ELECTRICITY</div>
		  <div class="col col-50 main-cat-list cat-even">HANDYMAN</div>
		</div>
		<div class="row">
		  <div class="col col-50 main-cat-list cat-odd">PLUMBING</div>
		  <div class="col col-50 main-cat-list cat-even">CARPENTERING</div>
		</div> -->
		<div class="services-blk">
			<div ng-repeat="service in primaryServices" ng-class-odd="'cat-odd'" ng-class-even="'cat-even'" class="float-left main-cat-list">
				{{service.name}}
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
