body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .button {
    background-color: #edf3f7 !important;
    font-size: 16px;
    color: #000000 !important;
    font-weight: normal !important;
}

.clear-both{
    clear: both;
}
.pad-left-1em{
    padding-left: 1em;
}
.float-left {
    float: left;
}

.width-full {
    width: 100%;
}

.float-right {
    float: right;
}

.msg-blk {
    /* width: 90%; */
    margin: 10px 5px;
    padding: 10px 25px;
}

.error-msg {
	background: #ffecec;
    border: 1px solid #f5aca6;
}

.success-msg {
	background: #e9ffd9;
	border:1px solid #a6ca8a;
}

ul.error-listing{
	list-style-type: circle;
}

li {
  display: list-item;
  list-style-position: inside;
}

.main-cat-list {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    margin: 10px 5px 10px 5px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 150px;
    line-height: 120px;
    text-align: center;
    /*display: inline-table;*/
    vertical-align: middle;
    width: 44% !important;
}

.main-cat-main-blk {
    margin: 24px 27px 20px 10px;
}

.angucomplete-holder {
    /*margin: 23px 35px 10px 35px;*/
    padding: 7px;
    background-color: #edf3f7;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.width-40perc {
    width: 40%;
}
.width-50perc {
    width: 50%;
}
